---
import fixnikah from "../assets/img/fixnikah.webp";
---

<section class="flex flex-col justify-center items-center space-y-4 gap-2 mt-16">
  <img src={fixnikah.src} alt="nikahfix" class="w-[260px]" />
  <p class="text-white/70 text-center text-sm">
    We would like to thank you for sharing in our wedding celebration. We are
    grateful for your presence, warm wishes, and your generous gift. We look
    forward to our future together and to making more memories with you.
  </p>
  <p class="text-white/60 text-center text-sm">See You On Our Big Day</p>
</section>
