<section class="space-y-4 w-full my-8">
  <h2 class="lato-bold text-2xl mt-8">Our Love Story</h2>
  <div class="flex flex-col space-y-2">
    <!-- Eps 1 -->
    <div class="grid grid-cols-2 gap-4">
      <img
        src="/images/groom.jpg"
        alt="fulan & fulana"
        class="w-full rounded-lg h-24 object-cover"
      />
      <div class="flex flex-col gap-2">
        <h4 class="text-sm py-0.5 font-semibold rounded-md w-fit">
          Episode 1: <br /> Pertemuan Tak Terduga di Ruang Kopi
        </h4>
        <p class="text-sm text-white/70">2020</p>
      </div>
    </div>
    <p class="text-sm text-white/70 my-2 text-justify">
      Secangkir kopi menjadi saksi bisik hati saat mereka pertama kali bertemu
      di mesin kopi kantor. Obrolan ringan yang tak terduga membuka lembaran
      baru kisah cinta mereka.
    </p>
    <!-- Eps 2 -->
    <div class="grid grid-cols-2 gap-4 mt-4">
      <img
        src="/images/groom.jpg"
        alt="fulan & fulana"
        class="w-full rounded-lg h-24 object-cover"
      />
      <div class="flex flex-col gap-2">
        <h4 class="text-sm py-0.5 font-semibold rounded-md w-fit">
          Episode 2: <br /> Kejutan di Hari Ulang Tahun
        </h4>
        <p class="text-sm text-white/70">2022</p>
      </div>
    </div>
    <p class="text-sm text-white/70 my-2 text-justify">
      Di tengah kesibukan kantor, dia memberikan kejutan manis di hari ulang
      tahunnya. Sebuah buket bunga dan kartu ucapan sederhana membuat hatinya
      berbunga-bunga.
    </p>
    <!-- Eps 3 -->
    <div class="grid grid-cols-2 gap-4 mt-4">
      <img
        src="/images/groom.jpg"
        alt="fulan & fulana"
        class="w-full rounded-lg h-24 object-cover"
      />
      <div class="flex flex-col gap-2">
        <h4 class="text-sm py-0.5 font-semibold rounded-md w-fit">
          Episode 3: <br /> Janji Sehidup Semati
        </h4>
        <p class="text-sm text-white/70">2025</p>
      </div>
    </div>
    <p class="text-sm text-white/70 my-2 text-justify">
      Dengan latar belakang pantai yang indah, dia melamarnya. Di bawah langit
      penuh bintang, mereka mengucapkan janji suci untuk bersama selamanya.
    </p>
  </div>
</section>
