<section class="space-y-4 w-full my-8">
  <h2 class="lato-bold text-2xl mt-8">Bride & Groom</h2>
  <div class="grid grid-cols-2 gap-4">
    <article class="flex flex-col gap-2">
      <img
        src="/images/groom.jpg"
        alt="fulan & fulana"
        class="w-full rounded-lg h-48 object-cover"
      />
      <h4 class="text-sm font-semibold">Fulan, S.H</h4>
      <p class="text-xs text-white/70">Putra dari Bapak H.Fulano dan Ibu Hj.Fulanuy</p>
    </article>
    <article class="flex flex-col gap-2">
      <img
        src="/images/bride.jpg"
        alt="fulan & fulana"
        class="w-full rounded-lg h-48 object-cover"
      />
      <h4 class="text-sm font-semibold">Fulana, S.Pd</h4>
      <p class="text-xs text-white/70">Putra dari Bapak H.Fulansat dan Ibu Hj.Fulani</p>
    </article>
    <img
      src="/images/pengantin2.jpg"
      alt="fulan & fulana"
      class="w-full rounded-lg h-48 object-cover col-span-2"
    />
  </div>

</section>
